// color setting
$primary_color: #9fef00;
$secondary_color: #141d2b;
$third_color: #a4b1cd;
$white_color: #fff;

// sizing
$sizing_sm: 8px;
$sizing_md: 16px;
$sizing_lg: 32px;
$sizing_xlg: 64px;


// font family
$main_font: "neue-haas-unica",sans-serif;